@model WebApplication1.Models.DBObjects.Comic

<h2>@Model.ComicName</h2>

<div class="row">
    <div class="col-md-6">
        <img src="@Model.ImageUrl" class="img-fluid" alt="@Model.ComicName">
    </div>
    <div class="col-md-6">
        <p><strong>Preț:</strong> @Model.Price €</p>
        <p><strong>Rating:</strong> @Model.Rating</p>
        <p><strong>Descriere:</strong> @Model.ShortDescription</p>
        <a href="/Cart/AddToCart/@Model.IdComic" class="btn btn-success">Adaugă în coș</a>
    </div>
</div>
